.menu-light {
    background-color: rgba(0, 0, 0, 0.5);
}

.menu-dark {
    background-color: rgba(0, 0, 0, 0.82);
}

.talent-column {
    flex-grow: 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 20px;
    height: 100%;
    min-height: 1000px;
    min-width: 200px;
    flex-shrink: 0;
}

#talent-column {
    flex-shrink: 0;
}
